<div class="container-item">
    <div class="title-car form-group">
        <span>{{item.carName}}</span>
    </div>
    <div class="form-group section-img">
    </div>
    <div class="section-detail-car">
        <div class="detail">
            <i class="fa-solid fa-route"></i>
            <span>18.000</span>
        </div>
        <div class="detail">
            <i class="fa-sharp fa-solid fa-calendar-days"></i>
            <span>{{item.model}}</span>
        </div>
    </div>
    <div class="section-price">
        <i class="fa-light fa-dollar-sign"></i>
        <span>500.000</span>
    </div>
</div>