<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/sell-car.jpg');">
        <div class="filter"></div>
    </div>
    <div class="container-seller-car row">
        <div class="row col-md-12 justify-center">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Nombre</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <span>Apellido</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
        </div>

        <div class="row col-md-12 justify-center">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Teléfono</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <span>Email</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
        </div>

        <div class="row col-md-12 justify-center">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Marca</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <span>Modelo</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
        </div>

        <div class="row col-md-12 justify-center">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Versión</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <span>Año</span>
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
        </div>

        <div class="row col-md-12 justify-center">
            <div class="col-md-4">
                <span>Cantidad de puertas</span>
                <div ngbDropdown class="d-inline-block dropdown">
                    <a class="toggle-custom" id="dropdownBasic1" ngbDropdownToggle>{{selectedFuel ?? 'Seleccione'}}</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <a class="dropdown-header">Seleccione cantidad de puertas</a>
                        <a class="dropdown-item">2 puertas</a>
                        <a class="dropdown-item">3 puertas</a>
                        <a class="dropdown-item">4 puertas</a>
                        <a class="dropdown-item">5 puertas</a>
                        <a class="dropdown-item">Mas de 5 puertas</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Separated link</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Another separated link</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <span>Combustible</span>
                <div ngbDropdown class="d-inline-block dropdown">
                    <a class="toggle-custom" id="dropdownBasic1" ngbDropdownToggle>{{selectedFuel?.name ?? 'Seleccione'}}</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <a class="dropdown-header">Seleccione combustible</a>
                        <ng-container *ngFor="let fuel of fuels; let i = index">
                            <a class="dropdown-item" (click)="handleSelectedFuel(fuel)">{{fuel.name}}</a>
                        </ng-container>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
